.mes-schedule{
    .mes-schedule__content{
        padding: 10px;
        background-color: $gf;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.1)
    }
    .mes-dialog__detail-title{
        p{
            font-size: 16px;
            color: $default-blue;
            line-height: 38px;
        }
    }
}